* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
}

:root {
  --color1: #a855f7;
  --color2: #e4e4e7;
  --color3: #c084fc;
  --btn1: #9333ea;
  --btn2: #a855f7;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cupom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  height: 24px;
}

.cupom input::placeholder {
  color: var(--color1);
  font-size: 16px;
}
.cupom p {
  color: #e4e4e7;
}

.cupom input {
  border: none;
  outline: 0;
  margin-left: 10px;
  font-size: 16px;
  color: var(--color2);
  width: 130px;
}

.cupom input:focus {
  border-bottom: 2px solid var(--color1);
}

.botao {
  background-color: var(--btn1);
  width: 267px;
  height: 64px;
  border: none;
  border-radius: 8px;
  color: var(--color2);
  font-size: 16px;
  font-weight: 500;
}

.botao p,
.botao svg {
  background-color: transparent;
}
